<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18750126?query=java%20Barnaul">Разработчик Java</a></td> 
     <td class="city">Белгород</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/14210161?query=java%20Barnaul">Разработчик Java</a></td> 
     <td class="city">Тамбов</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/17102283?query=java%20Barnaul">Младший разработчик Java</a></td> 
     <td class="city">Тамбов</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18750108?query=java%20Barnaul">Младший разработчик Java</a></td> 
     <td class="city">Белгород</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/17183304?query=java%20Barnaul">Team Lead Java</a></td> 
     <td class="city">Москва, Авиамоторная и еще 1</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18895189?query=java%20Barnaul">Java-разработчик (Junior, Middle)</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Ритейл Сервис, Группа компаний</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18989476?query=java%20Barnaul">Программист Java</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">ООО ЦеТК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/16041868?query=java%20Barnaul">Software Development Engineer Java</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Xored</td> 
     <td class="salary">80&nbsp;000-120&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/17900163?query=java%20Barnaul">Инженер-Программист (Java, С++, С#)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Кадровое агентство Алексея Сухорукова</td> 
     <td class="salary">77&nbsp;000-300&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19301449?query=java%20Barnaul">Java разработчик</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19250063?query=java%20Barnaul">Программист кассового ПО</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">ВЕРНЫЙ, Сеть магазинов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18581124?query=java%20Barnaul">Ведущий разработчик/Teamlead Documentum</a></td> 
     <td class="city">Белгород</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/17812476?query=java%20Barnaul">Junior Developer IOS / Android</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Appodeal</td> 
     <td class="salary">от 25&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19482338?query=java%20Barnaul">Senior Android разработчик</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">ООО МФК Займер</td> 
     <td class="salary">от 70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19470284?query=java%20Barnaul">Старший инженер</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Альфа-Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19486482?query=java%20Barnaul">Разработчик БД</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ЛАНИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19301464?query=java%20Barnaul">Test Automation Engineer</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19252104?query=java%20Barnaul">Senior Android разработчик</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">ООО МФК Займер</td> 
     <td class="salary">от 70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19379774?query=java%20Barnaul">Разработчик Java (Swing, JavaFx)</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Soft-logic</td> 
     <td class="salary">45&nbsp;000-70&nbsp;000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19450835?query=java%20Barnaul">Программист ADF</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">ЗАО Флекс Софтваре Системс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022128">JAVA- разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Sum&amp;Substance</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029718">Программист Java</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Crystal Service Integration</td> 
     <td class="salary">От 70 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030443">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">М.Видео</td> 
     <td class="salary">От 110 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030015">Старший Java разработчик</a></td> 
     <td class="city">Тверь</td> 
     <td class="companyName">TEAMIDEA</td> 
     <td class="salary">До 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031243">Преподаватель вебинаров по Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031370">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АНКОР Hi Tech/Проектный подбор</td> 
     <td class="salary">От 90 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031208">Программист Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ИНПАС КОМПАНИ</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031240">Методист курса "Java. Углубленное изучение"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030711">proГУРУммист Java</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">JarSoft</td> 
     <td class="salary">От 80 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031353">Java Developer</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031115">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Инновационный центр банковских технол...</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030865">Java Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Леруа Мерлен</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031053">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Boris.Guru</td> 
     <td class="salary">От 2 000 до 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030572">Java-программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">e2e4</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029069">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПРОГРЕСС СОФТ</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031222">Программист Java</a></td> 
     <td class="city">Зеленоград</td> 
     <td class="companyName">ИНПАС КОМПАНИ</td> 
     <td class="salary">От 90 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030490">Java Developer</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Maxifier Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030489">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ОАО "НПП "Гранит-Центр"</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028655">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Finch</td> 
     <td class="salary">От 80 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030580">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Уральский банк реконструкции и развития</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030901">Java Developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ИскраУралТЕЛ-СОФТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030451">Java-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АНКОР Высокие Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031309">Java developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TT Development</td> 
     <td class="salary">От 90 000 до 125 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031241">Методист курса вебинаров "Aрхитектура приложений и шаблоны проектирования Java"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031283">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "НЛЦ"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030781">Senior Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">First Recruiting Group</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031173">Senior\Middle Java Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">SaM Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030612">Senior Java / Backend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WayRay</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030745">Java Backend</a></td> 
     <td class="city"></td> 
     <td class="companyName">ТоргиClub</td> 
     <td class="salary">От 120 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029912">Разработчик Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tapcore</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031003">Руководитель группы разработки Java</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ИскраУралТЕЛ-СОФТ</td> 
     <td class="salary">От 90 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024810">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HeadHunter</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030527">Java EE Middle разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030547">Вакансия Java программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">БИФИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030563">Senior Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMSolutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027899">Middle Java Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">CodeInside</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030429">Java Chief Software Architect</a></td> 
     <td class="city"></td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">От 8 000 до 8 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030784">Middle/Senior Java Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">EPAM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031014">Java - разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">Ренессанс Кредит</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024866">Старший Java разработчик</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">РЕЛЭКС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030254">Sr. Java / Grails Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">От 2 500 до 2 700 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030185">Senior Java Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">От 2 400 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023829">Разработчик BostonGene Cloud Platform на Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">BostonGene</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030404">Full-stack Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KPBS</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030627">Senior Java Developer (Big Data)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МегаФон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030636">Senior Java Fullstack Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031029">Java разработчик в FinTech проект</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Unity Trading Systems</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028030">Методист/Преподаватель курса "Разработка под Android на языке Java"</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000021564">Senior Java developer (Multithreading, Servlets, Spring, Hibernate, Native SQL)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AURUS</td> 
     <td class="salary">От 90 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030545">Ведущий программист Java, Team Leader</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">КА "Кадровые технологии"</td> 
     <td class="salary">От 90 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030541">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Makeomatic</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030516">Sr. Java/Groovy Grails Web Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031330">Мобильный разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030340">Директор по информационным технологиям / Технический директор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Aktivo.ru</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031162">Программист-разработчик</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">Voice Communication</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031119">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NTR Lab</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020386">Senior Android Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Tark Industries</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030739">Специалист по тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HeadHunter</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026801">Android разработчик</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Строительный Двор</td> 
     <td class="salary">От 28 500 до 109 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031050">Мобильный разработчик (Android/iOS)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029858">SQL Developer / SQL-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">e2e4</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029988">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Skyeng</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030638">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Hello Baby</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031165">Руководитель отдела разработки</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">Voice Communication</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030359">Разработчик мобильных приложений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Rate&amp;Goods</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000011902">Преподаватель курса "Основы Java. Уровень 1-2"</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Level UP</td> 
     <td class="salary">От 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030668">QA Engineer (manual/auto)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Эвотор</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027570">Senior Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031183">Инженер управления производством ПО</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АйТиЭм Холдинг</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030749">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031040">Тестировщик автоматизатор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary">От 113 000 до 113 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030827">Big data разработчик</a></td> 
     <td class="city">Ярославль</td> 
     <td class="companyName">Akvelon</td> 
     <td class="salary">От 1 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031141">Android-разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">UNIQ systems</td> 
     <td class="salary">От 70 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030691">DevOps Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029338">Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">V I C E I I I</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031118">Ведущий программист-интегратор</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Инновационный центр банковских технол...</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030565">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMSolutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031263">Senior Software Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Netcracker Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028277">Методист/преподаватель вебинаров по Ruby (RoR)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 30 000 до 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022902">Android-разработчик</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Magtoapp</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026084">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Рестрим"</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030357">Мобильный разработчик (iOS, Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Selecty</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031189">Математик/алгоритмист (BigData)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МаксимаТелеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031231">Разработчик BPMNдвижка</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПКД</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030937">Android программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ОТГ (Объединённая Торговая Группа)</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028556">Android Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wheely</td> 
     <td class="salary">От 165 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030661">Senior MobApps Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">iWebka.com</td> 
     <td class="salary">От 100 000 до 10 000 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030595">Senior BackEnd Python Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">AgoraDoxa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030325">Lead/Senior Android Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">TechOps</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024536">Тестировщик (QA-автоматизатор)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Sendsay.ru</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000012179">Android Lead</a></td> 
     <td class="city"></td> 
     <td class="companyName">Surf</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031109">Senior Android Developer / Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Bookmate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030696">Android разрабочик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Мамси</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030452">Back-end Developer (Big Data)</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029933">Ведущий разработчик Android приложения</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">United Media Agency</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030891">Facebook developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Datafolks</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028641">Разработчик Senior .Net Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Aspose Pty Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028403">Team lead Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CarPrice.ru</td> 
     <td class="salary">До 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031254">Android разработчик в мобильное приложение Zvooq</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Zvooq</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030285">Frontend developer</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">HR_Kaliningrad</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031308">Android developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">TT Development</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026377">Senior Scala Developer in Tech Startup</a></td> 
     <td class="city"></td> 
     <td class="companyName">whisk</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028886">web programmer (Yii) / web программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MediaProNet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030838">Frontend-разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">BeaversBrothers</td> 
     <td class="salary">От 65 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024892">Javascript разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Traffic Exchange</td> 
     <td class="salary">От 1 000 до 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028564">Тестировщик мобильных приложений (QA-инженер)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030985">DevOps</a></td> 
     <td class="city"></td> 
     <td class="companyName">Tapcore</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030511">.NET разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">3dEye Inc.</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031245">Разработчик Android</a></td> 
     <td class="city">Сочи</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030552">Bitrix-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">CarPrice.ru</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031242">Преподаватель вебинаров по web программированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GeekBrains</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030736">Front-end developer AngularJS</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Drivepixels</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031315">Инженер по автоматизированному тестированию</a></td> 
     <td class="city"></td> 
     <td class="companyName">Maxilect</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030362">QA Engineer / Инженер по тестированию/ Тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Rate&amp;Goods</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030926">С++ разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Sum&amp;Substance</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031361">Программист ASP.NET MVC + AngularJS</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">HR_Kaliningrad</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030403">Инженер по нагрузочному тестированию</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">М.Видео</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029756">Разработчик приложений для Android</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Ракета</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030923">DevOps (Инженер инфраструктуры)</a></td> 
     <td class="city">Иваново</td> 
     <td class="companyName">AKVELON</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030613">Разработчик 3D графики C++, OpenGL</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">WayRay</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031377">Разработчик Android</a></td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">Ракета</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/284118194">Lead\Senior Hybris Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">SaM Solutions</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031188">Front-end разработчик (web, mobile)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МаксимаТелеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031265">Senior Frontend Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">T-Systems CIS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000011297">Ведущий разработчик Python</a></td> 
     <td class="city"></td> 
     <td class="companyName">Exness</td> 
     <td class="salary">От 3 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028561">Android Developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Improve Group</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030771">Senior Development Programmer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Connectflexi</td> 
     <td class="salary">От 250 000 до 280 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031112">Ведущий Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Инновационный центр банковских технол...</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030280">Sr. iOS Developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026504">Senior PHP back-end developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Diffco US</td> 
     <td class="salary">От 70 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031281">Архитектор Jira</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Исфорс Рус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031159">Старший Frontend Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Netcracker Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031193">Разработчик MiddleWare (Ruby)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МаксимаТелеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023112">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ВКармане</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031191">Инженер-аналитик BigData</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МаксимаТелеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030825">Golang Teamlead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ETHR</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031125">Team Lead/Ведущий Web программист</a></td> 
     <td class="city">Гусев</td> 
     <td class="companyName">GS Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031194">Senior PHP Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО Исфорс Рус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029980">Android Разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">mobidoo.io</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030149">Ведущий разработчик Scala</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020409">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029640">Ведущий разработчик/Team Leader</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">MY HR AGENCY</td> 
     <td class="salary">От 150 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030405">Разработчик PHP (Full stack)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KPBS</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030007">Senior\Middle Frontend developer (React.js)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pladform</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027197">Ведущий QA Инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">PayMe</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030488">Старший/ Ведущий программист на Python (сервер)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Naviaddress</td> 
     <td class="salary">От 180 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031205">Junior iOS Developer</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary">От 50 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031218">Pentester, инженер по ИБ (эксперт по веб безопасности)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Research team</td> 
     <td class="salary">От 4 000 до 12 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030657">Full Stack разработчик (AngularJS)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Skyeng</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031095">UI/UX дизайнер в Москве или переезд</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Flora Delivery</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031190">Специалист по анализу данных</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МаксимаТелеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000029927">Ведущий разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Dodo IS</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031179">Mobile QA Engineer iOS &amp; Android (Relocate to London)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Badoo Development</td> 
     <td class="salary">От 100 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031075">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SelfEmployed</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000028247">ios developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems</td> 
     <td class="salary">От 70 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000027613">Бэк-енд программист в стартап - направление Big Data</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Homeapp</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>