<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                      
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19527373?query=java%20Kiev">Senior QA Engineer, Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19304667?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Project Managers International Consult</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19529355?query=java%20Kiev">Senior Mobile Automation Engineer for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19504737?query=java%20Kiev">Senior Java Developer for BIScience (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19525133?query=java%20Kiev">Java Team Leader</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19525044?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19525089?query=java%20Kiev">FrontEnd Java Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19110495?query=java%20Kiev">Senior Java Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19110442?query=java%20Kiev">Java Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19110305?query=java%20Kiev">Software Products Engineer (Java development)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19517692?query=java%20Kiev">Senior Automation Engineer (C#) for Testing Center of Excellence (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19478768?query=java%20Kiev">Java Team Lead – Scrum Master for EFG (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19502205?query=java%20Kiev">Middle Magento Front End Developer for WorldTicket (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19408829?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NATEK</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19456247?query=java%20Kiev">Java Developer for TechFinancials (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19461614?query=java%20Kiev">Middle Java Developer for WorldTicket (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19494112?query=java%20Kiev">Senior Front End Developer for New Ciklum Client (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19477858?query=java%20Kiev">Senior Technical Tester for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19476159?query=java%20Kiev">Front End Developer for Encode (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19476929?query=java%20Kiev">Senior Mobile Developer for Hopster (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19476983?query=java%20Kiev">Regular Java Developer</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19424802?query=java%20Kiev">Senior Java Developer for EFG (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19460609?query=java%20Kiev">C++ Developer for BIScience (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19377608?query=java%20Kiev">Senior Java Developer, Kyiv</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19401026?query=java%20Kiev">Middle Java Developer for TechFinancials (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19456730?query=java%20Kiev">Senior Automation QA Engineer for TCoE (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19456644?query=java%20Kiev">PHP Developer for Ciklum Client (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19471455?query=java%20Kiev">Middle Java Web Developer (User Expirience)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19436922?query=java%20Kiev">Technical Lead – Scrum Master for EFG (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19461994?query=java%20Kiev">Strong Junior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Первый Украинский Международный банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19454940?query=java%20Kiev">DevOps - Infrastructure Software Engineer for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19262762?query=java%20Kiev">Senior Java Developer (Kiev)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19262716?query=java%20Kiev">Senior Java Developer (Kiev)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19421602?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19445607?query=java%20Kiev">Senior Java/Grails Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19262787?query=java%20Kiev">Team Lead Java Developer, Kiev</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19267759?query=java%20Kiev">Project Manager (Kiev)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19400621?query=java%20Kiev">Senior/Lead Data Science Engineer for Tubular Labs (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19445528?query=java%20Kiev">Sr. Java/Groovy Grails Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19301054?query=java%20Kiev">Middle Java/C++ Engineer for Sisense (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19400924?query=java%20Kiev">Senior Front End / Full stack Developer for Thomas Cook (Digital), Kyiv</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19295684?query=java%20Kiev">Senior Java Developer for PayCash (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19295612?query=java%20Kiev">Java Team Lead for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19389208?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19161769?query=java%20Kiev">Senior Java/Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19372240?query=java%20Kiev">Senior Java Engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19363021?query=java%20Kiev">Middle QA Engineer for Testing Center of Excellence (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19340956?query=java%20Kiev">Lead Infrastructure Software Engineer - DevOps for Thomas Cook (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19350155?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19379437?query=java%20Kiev">Ведущий разработчик Java (Chief Architect)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">7&nbsp;000-8&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19125611?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Днепр (Днепропетровск)</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19377654?query=java%20Kiev">Regular/Senior Java/C# Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19336954?query=java%20Kiev">Java Team Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19374693?query=java%20Kiev">Senior Software Developer Java (Montenegro)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19365701?query=java%20Kiev">Middle QA Engineer With Automation Skills for Testing Center of Excellence (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19311654?query=java%20Kiev">Middle Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19356900?query=java%20Kiev">Senior Java Developer for Thomas Cook (Digital)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19312021?query=java%20Kiev">Java Solution Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18902253?query=java%20Kiev">Java Solution Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18902254?query=java%20Kiev">Java Architect for Big Data</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Epam Systems Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19295656?query=java%20Kiev">QA Manager for Thomas Cook OneWeb Team (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19525252?query=java%20Kiev">Regular FullStack Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19262829?query=java%20Kiev">Senior Hybrid Mobile Client Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19262872?query=java%20Kiev">Senior Salesforce developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19524615?query=java%20Kiev">Scala developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19525198?query=java%20Kiev">Desktop Applications Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19524960?query=java%20Kiev">Team Leader</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19295626?query=java%20Kiev">QA Automation Consultant (with JavaScript Experience) for Testing Center of Excellence (Kyiv)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Ciklum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19268039?query=java%20Kiev">Middle DevOps Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19259039?query=java%20Kiev">Team Lead Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19527597?query=java%20Kiev">.NET Full Stack Developer</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19103722?query=java%20Kiev">DevOps Engineer for Financial Industry Project</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19473979?query=java%20Kiev">Software developer (Finland)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Grinvich</td> 
     <td class="salary">3&nbsp;500-4&nbsp;000 EUR</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19456791?query=java%20Kiev">Инженер систем мониторинга</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">БМС Консалтинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19312170?query=java%20Kiev">PHP Team Lead</a></td> 
     <td class="city">Киев, Ипподром</td> 
     <td class="companyName">BeeJee</td> 
     <td class="salary">от 60&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/19500362?query=java%20Kiev">ICT Trainee</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19246203?query=java%20Kiev">Regular ASP.Net Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19492134?query=java%20Kiev">Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19471399?query=java%20Kiev">Portal (Front-end) Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19494581?query=java%20Kiev">Devops engineer for financial industry project</a></td> 
     <td class="city">Санкт-Петербург, Выборгская</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19471623?query=java%20Kiev">Администратор системы мониторинга Icinga</a></td> 
     <td class="city">Киев, Дворец "Украина"</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18765849?query=java%20Kiev">Technical Project Manager</a></td> 
     <td class="city">Санкт-Петербург, Чёрная речка</td> 
     <td class="companyName">Omnigon Communications, LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19434038?query=java%20Kiev">Senior QA Automation</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">DataArt Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19417852?query=java%20Kiev">QA Automation Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО SKILLERS</td> 
     <td class="salary">1&nbsp;500-2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19407161?query=java%20Kiev">Business Process Analyst</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО SKILLERS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19410363?query=java%20Kiev">Інженер з тестування</a></td> 
     <td class="city">Киев, Шулявская</td> 
     <td class="companyName">Vodafone Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19424184?query=java%20Kiev">Водитель с личным автомобилем</a></td> 
     <td class="city">Киев, Университет и еще 1</td> 
     <td class="companyName">ИП TAXI 838 UKRAINE</td> 
     <td class="salary">10&nbsp;000-15&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19404345?query=java%20Kiev">Data Scientist</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Kyivstar</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19373744?query=java%20Kiev">Junior Python developer</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19347115?query=java%20Kiev">JavaScript Consultant (United Arab Emirates)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19374758?query=java%20Kiev">Senior Software Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19373888?query=java%20Kiev">NodeJS Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Innovecs</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19389263?query=java%20Kiev">Scala developer ( Riga or Tallinn)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19379408?query=java%20Kiev">Full Stack Software Architect</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">4&nbsp;000-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19388488?query=java%20Kiev">Environment Engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19372483?query=java%20Kiev">Front-End Developer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19386941?query=java%20Kiev">Senior Front-End Engineer</a></td> 
     <td class="city">Киев, Васильковская</td> 
     <td class="companyName">Cogniance</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19352969?query=java%20Kiev">Mobile App Architect - Android &amp; iOS</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Crossover</td> 
     <td class="salary">4&nbsp;000-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19339593?query=java%20Kiev">Software Support Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19388117?query=java%20Kiev">Web Solution Architect</a></td> 
     <td class="city">Киев, Васильковская</td> 
     <td class="companyName">Cogniance</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19365790?query=java%20Kiev">Senior Python developer</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19305376?query=java%20Kiev">Senior РНР developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Digital Screens</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19350519?query=java%20Kiev">Senior Full Stack Engineer (Angular JS)</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19294738?query=java%20Kiev">Senior Android Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19028900?query=java%20Kiev">Senior iOS Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Lamoda</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19259252?query=java%20Kiev">Senior Node.JS developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19174261?query=java%20Kiev">Senior System Administrator/DevOps (Montenegro)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Группа компаний FOREX CLUB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19297299?query=java%20Kiev">Junior Automation QA Engineer</a></td> 
     <td class="city">Киев, Олимпийская</td> 
     <td class="companyName">ООО GlobalLogic Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19262827?query=java%20Kiev">JavaScript/Angular Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19267452?query=java%20Kiev">Senior C++ / Go Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19314990?query=java%20Kiev">Solution Architect</a></td> 
     <td class="city">Минск, Михалово</td> 
     <td class="companyName">Интеллектсофт</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19028840?query=java%20Kiev">Senior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Lamoda</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19407167?query=java%20Kiev">Java Developer (CRM)</a></td> 
     <td class="city">Киев, Дворец "Украина"</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19308049?query=java%20Kiev">Delivery Manager</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CNA International Ukraine</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19418899?query=java%20Kiev">Инженер-программист</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ROSHEN, Кондитерская корпорация</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19433772?query=java%20Kiev">Експерт відділу розвитку та запровадження систем прийняття рішень (департамент ризик-менеджменту)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Альфа-Банк, Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19275299?query=java%20Kiev">QA automation engineer</a></td> 
     <td class="city">Киев, Левобережная</td> 
     <td class="companyName">SandSIV Group</td> 
     <td class="salary">до 2&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19527832?query=java%20Kiev">Architect / Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">PNN Soft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19508128?query=java%20Kiev">DevOps/Linux Administrator (Java)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">United Thinkers</td> 
     <td class="salary">от 26&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19507747?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО НЬЮ ЕЙДЖ СОЛЮШНЗ ЮКРЕЙН</td> 
     <td class="salary">4&nbsp;000-5&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19480854?query=java%20Kiev">Senior Java/AEM Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Omnigon</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19269730?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19464985?query=java%20Kiev">Senior Java Developer (Live)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18507337?query=java%20Kiev">Senior Java Developer (CM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18211141?query=java%20Kiev">Java Developer (CM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18789649?query=java%20Kiev">Senior Java Developer (Videobet)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19032466?query=java%20Kiev">Java Developer (Mexos)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19464983?query=java%20Kiev">Java Team Lead (Cross Products)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19447365?query=java%20Kiev">Java Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Krusche and Co</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19409267?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО LeoGaming</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19409769?query=java%20Kiev">Java программист/архитектор</a></td> 
     <td class="city">Киев, Театральная и еще 2</td> 
     <td class="companyName">ООО Софтиндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19251803?query=java%20Kiev">Middle AEM / Java developer</a></td> 
     <td class="city">Киев, Житомирская</td> 
     <td class="companyName">Volia Software</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19416134?query=java%20Kiev">Java Developer (Position for relocation)</a></td> 
     <td class="city">Германия</td> 
     <td class="companyName">Scalors GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19417266?query=java%20Kiev">(Senior) Java Software Developer (Position for relocation)</a></td> 
     <td class="city">Германия</td> 
     <td class="companyName">Scalors GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19344034?query=java%20Kiev">Senior Java developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">DATAS Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19341513?query=java%20Kiev">Middle Java Developer</a></td> 
     <td class="city">Киев, Дружбы народов</td> 
     <td class="companyName">TT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19311410?query=java%20Kiev">Java Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ОАО Xyrality GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19306486?query=java%20Kiev">Java developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">United Thinkers</td> 
     <td class="salary">40&nbsp;000-50&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19308326?query=java%20Kiev">Senior Java Developer</a></td> 
     <td class="city">Киев, Бориспольская</td> 
     <td class="companyName">Trip Top Technologies Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19308735?query=java%20Kiev">Разработчик Java, Oracle, Delphi, JBPM</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">АО ТАСКОМБАНК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19123396?query=java%20Kiev">Android Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">PNN Soft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19444368?query=java%20Kiev">Frontend/Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ИП KAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19527607?query=java%20Kiev">QA Automation Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ИП KAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19529973?query=java%20Kiev">Senior Full-Stack Developer</a></td> 
     <td class="city">Киев, Печерская</td> 
     <td class="companyName">ООО Sapiens</td> 
     <td class="salary">от 75&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/13363231?query=java%20Kiev">Водитель в ТАКСИ(с авто)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Авангард, такси</td> 
     <td class="salary">18&nbsp;000-25&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19519623?query=java%20Kiev">Business Analyst/Product Owner</a></td> 
     <td class="city">Киев, Тараса Шевченко</td> 
     <td class="companyName">Амадеус Украина</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://career.ru/vacancy/19490218?query=java%20Kiev">ICT Trainee</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО lifecell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19495270?query=java%20Kiev">IT Recruiter/HR Manager</a></td> 
     <td class="city">Киев, Дворец спорта и еще 1</td> 
     <td class="companyName">ООО PreciseQ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19504911?query=java%20Kiev">Senior QA Automation</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО НЬЮ ЕЙДЖ СОЛЮШНЗ ЮКРЕЙН</td> 
     <td class="salary">2&nbsp;500-3&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19480380?query=java%20Kiev">Lead C# Developer / Team Lead</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19480224?query=java%20Kiev">Разработчик Senior/Lead C# Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19055243?query=java%20Kiev">Senior PHP Programmer(Remote).</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">CAMO IT</td> 
     <td class="salary">от 1&nbsp;700 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19471414?query=java%20Kiev">Software Engineer (Solution Delivery)</a></td> 
     <td class="city">Киев, Дворец "Украина"</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19483847?query=java%20Kiev">Консультант з впровадження ERP-системи</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Укрэнерго</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/15442482?query=java%20Kiev">Водитель со своим автомобилем</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Такси ЗЕФИР</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19477025?query=java%20Kiev">PHP Developer</a></td> 
     <td class="city">Киев, Демеевская</td> 
     <td class="companyName">BIG DIG. Creative &amp; Digital Agency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19471425?query=java%20Kiev">Business Analyst (Solution Delivery)</a></td> 
     <td class="city">Киев, Дворец "Украина"</td> 
     <td class="companyName">NetCracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18507330?query=java%20Kiev">HTML5 Game Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19032468?query=java%20Kiev">Scala Developer (GPAS)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19032449?query=java%20Kiev">GWT/JavaScript developer (CM)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19269732?query=java%20Kiev">DevOps Engineer (GPAS)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Playtech</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19277522?query=java%20Kiev">Oracle Siebel Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">DATAS Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19461176?query=java%20Kiev">Technical Writer (middle+, e-commerce, ст. м. Контрактовая площадь)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Ле Бутик</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19447195?query=java%20Kiev">Front-end Web Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Krusche and Co</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19404124?query=java%20Kiev">Data scientist</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Веллфин, ООО</td> 
     <td class="salary">от 15&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19404094?query=java%20Kiev">Data scientist</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО Веллфин, ООО</td> 
     <td class="salary">от 15&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19416063?query=java%20Kiev">Site Reliability Engineer (Position for relocation)</a></td> 
     <td class="city">Германия</td> 
     <td class="companyName">Scalors GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19235193?query=java%20Kiev">Android/iOS программист</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ИП Swiss Tech</td> 
     <td class="salary">от 2&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19410169?query=java%20Kiev">Разработчик Senior .Net Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19436426?query=java%20Kiev">Senior Director of Engineering</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Comodo Group Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19422363?query=java%20Kiev">Intermediate Android Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Scopic Software</td> 
     <td class="salary">480-1&nbsp;200 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19444416?query=java%20Kiev">Full Stack JavaScript Developer</a></td> 
     <td class="city">Киев, Дворец спорта</td> 
     <td class="companyName">AllStars-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19402305?query=java%20Kiev">IT Project Manager (development)</a></td> 
     <td class="city">Киев, Васильковская</td> 
     <td class="companyName">ООО SkyWell</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19407632?query=java%20Kiev">Розробник на проект впровадження ERP- системи</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Укрэнерго</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19424845?query=java%20Kiev">Старший Разработчик C/C++/C#</a></td> 
     <td class="city">Киев, Васильковская</td> 
     <td class="companyName">Карбон</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19417289?query=java%20Kiev">(Senior) Quality Engineer (Position for relocation)</a></td> 
     <td class="city">Германия</td> 
     <td class="companyName">Scalors GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19341677?query=java%20Kiev">Siebel-разработчик</a></td> 
     <td class="city">Киев, Оболонь</td> 
     <td class="companyName">Ареон Консалтинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19423574?query=java%20Kiev">Tech Lead</a></td> 
     <td class="city">Киев, Берестейская и еще 1</td> 
     <td class="companyName">Speroteck</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19386068?query=java%20Kiev">Водитель на своем автомобиле</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">КенГуру-такси</td> 
     <td class="salary">10&nbsp;000-15&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19382022?query=java%20Kiev">Software Developer - Hadoop [EA- Hadoop]</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19382005?query=java%20Kiev">System Engineer - DevOps [EA]</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО INTRO PRO</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19379477?query=java%20Kiev">Senior C# developer (Imaging)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Aspose</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19409772?query=java%20Kiev">Front-end JavaScript developer</a></td> 
     <td class="city">Киев, Театральная и еще 2</td> 
     <td class="companyName">ООО Софтиндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19212242?query=java%20Kiev">Scala Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Softheme</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19304810?query=java%20Kiev">Junior SFDC Developer courses trainee</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CustomerTimes</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19377350?query=java%20Kiev">Back-end разработчик</a></td> 
     <td class="city">Киев, Университет и еще 1</td> 
     <td class="companyName">ООО Агентство Витти</td> 
     <td class="salary">от 17&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19377304?query=java%20Kiev">Front-end разработчик</a></td> 
     <td class="city">Киев, Университет и еще 1</td> 
     <td class="companyName">ООО Агентство Витти</td> 
     <td class="salary">от 17&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19372277?query=java%20Kiev">Преподаватель курсов программирования</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ДАНКО, учебный центр</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19311074?query=java%20Kiev">IOS разработчик</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ТОО Трэвелизи</td> 
     <td class="salary">от 800 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19310653?query=java%20Kiev">Разработчик ABAP</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">BrigRetail</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19262784?query=java%20Kiev">Middle Salesforce (SFDC) Developer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО CustomerTimes</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19303205?query=java%20Kiev">Программист PHP (1С Bitrix)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Webpro</td> 
     <td class="salary">от 800 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19310430?query=java%20Kiev">Middle PHP developer</a></td> 
     <td class="city">Киев, Контрактовая площадь</td> 
     <td class="companyName">ООО ХЕКСА</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19308317?query=java%20Kiev">QA Engineer (Middle)</a></td> 
     <td class="city">Киев, Бориспольская</td> 
     <td class="companyName">Trip Top Technologies Ltd</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19304562?query=java%20Kiev">Інженер групи DCD</a></td> 
     <td class="city">Киев, Бориспольская</td> 
     <td class="companyName">Международные Авиалинии Украины</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/19230407?query=java%20Kiev">Водитель (в такси)</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">Авангард, такси</td> 
     <td class="salary">20&nbsp;000-25&nbsp;000 грн.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://barnaul.hh.ru/vacancy/18556150?query=java%20Kiev">QA Automation engineer</a></td> 
     <td class="city">Киев, Площадь Льва Толстого и еще 2</td> 
     <td class="companyName">ООО KSTT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>